.scroll-content {
  max-width: 800px;
  margin: auto;

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      text {
        font-family: @df-sans;
        fill: @df-dark-gray;
      }

      path, polyline, polygon, line, circle, text {
        transition: all .3s linear;
      }

      &.zoomed g[id]:not(.activated) {
        path, polyline, polygon, line, circle {
          stroke: @df-light-gray;
        }

        text, g text {
          fill: @df-light-gray;
        }

        .cls-4, .cls-10 {
          fill: @df-light-gray;
        }
      }
    }
  }

  .layer {
    float: right;
    margin-right: 20px;
    margin-bottom: 500px;
    margin-bottom: 90vh;
    width: 300px;
    background: white;
    box-shadow: 0 8px 16px fade(black, 20%);
    clear: both;
    padding: 16px;
    font-family: @df-sans;
    font-size: 16px;

    &.first {
      margin-top: 400px;
      margin-top: 50vh;
    }

    h2 {
      margin: 0;
    }
  }
}